* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    max-width: fit-content;
    width: 100%;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

h1 {
    padding: 2em 0;
}

.die-ph {
    border: 0.5px yellow solid;
    height: 3rem;
    width: 3rem;
    margin: 0.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.completed-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px red solid;
    width: 75%;
    height: 4em;
    margin: 2em 0;
}

/* .ship {

} */

.rolling-area {
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
    justify-content: space-evenly;
    align-items: center;
    border: 2px blue solid;
    width: 75%;
    height: 20em;
    margin: 2em 0;
    padding: 2em 0;
}

.rolling-area .die-ph {
    height: 4em;
    width: 4em;
}